<% if user_signed_in? %>

<%= link_to "Manage Leads", contacts_path, class: "btn btn-default btn-lg" %>
<% else %>

<div class="col-md-10 col-md-offset-1">
    <div class="jumbotron text-center">
        <h3>Free Online Lead Manager for Real Estate Agents</h3>
        <p class="lead">Organize your leads freely and easily with ListMe</p>
    </div>
</div>
<% end %>
